.product-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.product-list__item {
    list-style: none;
    width: 32%;
}

@media only screen and (max-width: 768px) {
    .product-list__item {
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
    }
}